.container-info{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    gap: 4em;
    margin: 5em;
}

.detail-tit{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.detail-info-tit{
    color: gray;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.detail-info{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.contMaps{
    width: 18em;
}


@media only screen and (min-width: 990px) {

    .container-info{
        justify-content:space-between;
        gap: 5em;

    }
    


}